export EULA="TRUE"
export OPS="princejoogie"
export VERSION="1.18.2"
export SERVER_NAME="joogie"
export MOTD="joogie's server for degens"
export ONLINE_MODE="false"
export ALLOW_NETHER="true"
export ENABLE_COMMAND_BLOCK="true"
export ENABLE_RCON="true"
export MAX_TICK_TIME="60000"
export MAX_MEMORY="3600M"
export MAX_PLAYERS="50"
export TYPE="FORGE"
export MODPACK="https://github.com/princejoogie/joogie-mc-server/raw/main/apps/docker/modpacks/joogie.zip"
